.nagivation-bar{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 10px 40px; 
    background-color: rgb(19, 27, 1);
}

.nagivation-bar a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
.nagivation-bar h1{
color: #fff;
margin: 0;

}

/* 
.footer-container{
    position: relative;
    width: 100%;
    background-color: rgba(44, 37, 37, 0);
    bottom: 0%;
    display: flex;
    
} */


.footer-container {
    background: #111827;
    color: white;
    padding: 50px 80px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-box {
    flex: 1;
    min-width: 220px;
}

.footer-box h2,
.footer-box h3 {
    margin-bottom: 15px;
    color: #4da6ff;
}

.footer-box p {
    line-height: 1.7;
    color: #d1d5db;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin: 10px 0;
}

.footer-box ul li a {
    text-decoration: none;
    color: #d1d5db;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #4da6ff;
}

hr {
    margin: 30px 0 15px;
    border: 1px solid #374151;
}

.copyright {
    text-align: center;
    color: #9ca3af;
    font-size: 15px;
}
